version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
      day: sunday
      time: '16:00'
      timezone: 'Europe/Berlin'
    target-branch: main
    open-pull-requests-limit: 99
    ignore:
      # Freeze typescript minor and major versions updates
      - dependency-name: 'typescript'
        update-types: ['version-update:semver-minor', 'version-update:semver-major']

      # Block major updates for react-test-renderer
      - dependency-name: 'react-test-renderer'
        update-types: ['version-update:semver-major']

  # Github actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    open-pull-requests-limit: 10
    schedule:
      interval: 'daily'
    target-branch: main
