*hot-update.js*
.DS_Store
.idea
.tmp
.yarnclean
bin
bower_components
dist
lerna-debug.log
node_modules
npm-debug.log*
package-lock.json
packages/logger/demo/js
packages/logger/test/js
temp
yarn-error.log
