*.env
*hot-update.js*
.awcache/
.DS_Store
.idea/
.nyc_output/
.tmp/
.vscode/
.yarnclean
coverage/
dist/
lerna-debug.log
node_modules/
npm-debug.log*
package-lock.json
packages/react-ui-kit/styleguide
**/src/**/*.d.ts
**/src/**/*.js
**/src/**/*.js.map
temp/
yarn-error.log

# yarn 2 - not using zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
