# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
dist: trusty

# https://docs.travis-ci.com/user/encryption-keys/
env:
  global:
    # NPM_TOKEN
    - secure: "oKoD5vM9EANq0vkFKmJciMUOuEOyHx3YvEPbwgBH3FFRkVAiUnjGEoeTgOdmc7yz+StdGnIK9tVpE1LGhH+h/OMTk3eKT91XAgOv6KyobBqHz+D4EZYhQL8hFm9d9S9HcKUFsrp9xeY2KlEG54Wy0LP0l+hrZxdqlF+Mox3ReP5ZnyEu9OY0J2YlbEH+Kpxu5jcQuapIefE6lSbgC7EWpa3qBcOW7NCTw1q3nc5nfIOYGSKZ/To71+/Fn4AQmZbeMo+r6bUsCS4w9nJ4gKpkRAgO91vNX6V3PPYqxakqgPyQO/5qCejgjDUt+w3H4j6Rg/LewfM59d8xuwg14d7m8RNRTNIHLDIpmujcuj+ZzARW9SeDrXgAnXaKzjp9WOL7vNAy3vdPc6SCqM0zW3tx2AZBSgYV6vmN8hLZmxMKukCUqlbWBd2PZYNPO3GnB50rAHeg3+RUjc8mSLyiB07DQU1lqsKfOjjVcUmeVWOTx2+FbGqOgdQVi00GY7alHx3b+4IuIVIcrHQjjuvOXA1J45rp9d/gyGJWSH00Z/KneuLSKyUSC29THy6Wk6Y6B01EUvv5riMyEDOhDMnGyehf5Xgz51yTpfKdoY0t+7zCVTd8xZNb/Ko/PlHfpkpY1OFDKi5Yc1vcTCNGqMCHC3eu9659+pg8B7ENCgsCJ7dBw5M="
    # WIRE_STATUS_BOT_EMAIL
    - secure: "P035+mhG/EgFcWTKLETEjGIAEHrBtG0gyYLC7F70d9jEwtOGLuDnAEuFkU8cvE/RaKW5M1dcGlxg+DYIhnm18OfDoOZJqKnw+lO1pfTicl/XwFlUihtvFVRxvD07zR1zgjkQRgoI8s2CLOYk7ShdrdC0HPxUCt4LZNTl7URBg8VsR5fiZDgILJzxOmI82DXDnMfXJd7D0EE+HNRto0VvvviKOTaV9xJgvv4YLYpJyFkhigKfB3pSmzWZlFzNfr1BKw2e4brSTkNFlGNJCYk7nghbDvq7To3qu6iWtChQ1MnTmsMIqMrwWVzqfrzX8xbXcVd0VET7SopD//LrXUPVc08IWUpGjAcDQuE0vQ4r8g0rS52gmsn06R8U/SYTDC73HwQmivdMRXXEYj772uFEHPX1K7XNhKKBTv2dBoksTEqsxAytraZWU2fcn9jlkGh006Q8S08cOEdc4LQb80vVgjNWcPNIS8VrR3/4n3/2sr+AJrji43HdsynUL3JmiAr5oc95rr4EhdWkkMQuLJ/PhGOTrrwokgwo2j5eyAJ6dc7Ool2yILGaIwrH+usZdztT+Vxk4VX6cOb2JUCtKlgv756F+hAT2mZhZMmznDCazBTNq6ISfxylb2QTxzyIJIsQ5STqfCHZOzaQMF57RxvhtmcwR0fBEboHNeF+j5kNfkA="
    # WIRE_STATUS_BOT_PASSWORD
    - secure: "5zzJ1eRrrWdl6LFFPgCYdYtejZ3+qb/e9MCQev6mo4U0mMQBGZaFAkMcYQ4yRja71vQ3sQrWRegIkjFyX02TcKQzGEjCav/2QDlWxE5Vjzez9pP/0K+MpS78eaqEOUOZ5rOML4xeS0HShUqzYWF/umFPeQuu8NJrAmU3K2cTejgKagecN7Mzv6k5sAFLvV6iuSmXSlQnVQJtH3I+KDiOr6qWF8dP9ZohKONXb3VL8mvJfDmOiWSNQQVSKynkM+tBnqEXHsYRSxp/A8yRDdv+IcT3eT+im8ZqLa9q/xlF61O7OkG00Gx3Ev7A01wLKyk++qOI9FwI60MM7YCoumCzjuQbUAd86eT5vCS/PdLbRoGou8eTz5lknxOxYCP57sxZ+uIlqStmNuNghuGm5SJOUGSvok7Gs8LprZSO76wsLC+1CH1QptuePN5qqrUS5pRWccLo1L0KJFndOsw3PnWaGydFdB0drJotHynfzLynrZ89HQMH2U1yPz6dhrJRWmrW+YyBELG1EFXL3hOz1FisbAmmSNvRofr7AtBpMiFEgyTLQs/lCAWoM2/9SGPK5YMvJ8/CTRwlwnE6AmGB3ExZoBkX3rrfKmFJdCyP2/sN0485M6EBSuHg/0lAnmzAlUL749Eylx9JeJ2lNlCe1APXBiXCkeWkQSpNW4Ky/sa9xjE="

language: node_js

node_js:
  - "8"

addons:
  chrome: stable

# http://docs.travis-ci.com/user/build-lifecycle/
before_install:
  - curl https://yarnpkg.com/install.sh -sSfL | bash -s --
  - export PATH="${HOME}/.yarn/bin:${PATH}"

before_script:
  - yarn boot
  - export IS_MASTER_BRANCH=$(if [ "${TRAVIS_BRANCH}" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then echo 0; else echo 1; fi)
  - export HAS_UPDATES=$(npx lerna updated > /dev/null 2>&1; echo $?)
  - export IS_DEPENDENCY_BUMP=$(if [[ "${TRAVIS_COMMIT_MESSAGE}" = "build"* ]]; then echo 0; else echo 1; fi)
  - export WILL_RELEASE=$(if [ "${IS_MASTER_BRANCH}" == 0 ] && [ "${HAS_UPDATES}" == 0 ] && [ "${IS_DEPENDENCY_BUMP}" == 1 ]; then echo 0; else echo 1; fi)
  - echo -e "IS_MASTER_BRANCH = ${IS_MASTER_BRANCH}\nHAS_UPDATES = ${HAS_UPDATES}\nWILL_RELEASE = ${WILL_RELEASE}\nIS_DEPENDENCY_BUMP = ${IS_DEPENDENCY_BUMP}"

script:
  - yarn test

notifications:
  email: false

after_success:
  - |
    if [ "${WILL_RELEASE}" == 0 ]; then
      git config --global user.email webapp+travis@wire.com
      git config --global user.name "Wire Travis CI"
      mkdir -p temp
      openssl aes-256-cbc -K $encrypted_d95474b06f11_key -iv $encrypted_d95474b06f11_iv -in deploy.enc -out temp/deploy -d
      chmod 600 temp/deploy
      eval `ssh-agent -s`
      ssh-add temp/deploy
      rm -rf temp
      echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> "${HOME}/.npmrc" && \
      git checkout master;
      git pull;
      REPO=`git config remote.origin.url`
      SSH_REPO=${REPO/https:\/\/github.com\//git@github.com:}
      echo "${SSH_REPO}"
      git remote set-url origin ${SSH_REPO}
      yarn release;
      node packages/core/src/demo/status-bot.js "4ae15efc-d061-4013-98f2-bcd81ab39b60";
    fi
