# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
dist: trusty

# https://docs.travis-ci.com/user/encryption-keys/
env:
  global:
    # ALICE_EMAIL
    - secure: "IicSqzbMKeey9gxiqDUU91v/7/K5BY0QoltL0NXHpmUWSWgpLJPKilB6SCXFB+abbSoV1GQjIj/6ntFydcAKyeVYt9PzU2GaLQr6PJR3+0GT1UQVDXSdObdI25TAQWQr7ITDspyhkX+9Y39bQU/avchnvliPoYPV56wt/VKsuJOiTbW31XRGRsXBWnEmFxcK6IekEkFtLkV/LL6IyzYnma/+YXrbBRkDT/4/lA5YbV5GdyocS946yqEY2Bfohb5zx7EvV3dSA+C03El2RyXuFARJ121tLnURjKrDxyZ7iIoxM19FBTj5+HNX4bVIYK7RpMmqHho4Sk6DY3iknSKUViVkoBPCjQzhdP+GyAgDmQzhOsHZIQCwLa184Fxur1lG10lAZbAnv54lvDn/FU5/xjxUaQVHKITSlq08Yj1MdNUyL1EA6mwg+L8wZaBcHz1qqUaxLDHjCA3dbPxDrmh9SYpWRIxl1S92EVsx4VpHEoVLx87DuX5nlKoTRLXGLwkzuE1C5csCnCQjSyzgJlz2PtOXkSkkelp8XWgRNKZq87dx7ZPr+sCuys4PkzjaDbQ8ViBTppKy8xeVlsEBRRJB4VI0Gc7b0nU1SYIGe6hql6qV1fkYI++6gYkuTaV0OMPz2vv/FWi+SOiR33TIlwEl8Da35IM7w/gSnTHRAVQluu4="
    # ALICE_PASSWORD
    - secure: "S8k4zaS/tmFH5QaZZOO1Pclq4XWknCpEauTn6PrnDx7rUygAfCGCmUds6W2jAxFv+N5Fy2Hec8YcRUs8I4ZpROS+n96EzUjFJn997La2cMqltC9u0zvFEpWiHv6MyCm2z78lrkkKLckCWTvkGJXPJ8+rdaz82Izc3nNcBrxd6Z9Fw8bPzkHoaScJJ0atKCfIpSji6INE99CYs70KdgY3iI3EvrXYe8ySfovKP7Y8RxaHOU2d5w7beuFUMQYNfYSl9dT7EXQXd3jLQsIxDOaN432qH3GuiC+tP/0EcWMw6aacWpJKgZerfqq2yPPARgL+y0nhO4rmdSBr5ncFO1ghHiZAik1KDqKkZb/alVbGNq7VDYKwzjnBHuTOyuQKu55DqnC21WXPhM+GsmNBwEkWLsXCKkuuCC1TnHTfTYT66LiZ9HunlhtfANf5g/YXCoM+mRRl5Zgv86BWdou49Qm4b0QjSEus/zfNBrrEwO8+x3rFfbKF4drp3EFqgQ3D7RsAmVTkZkWWBGUB9GsNToyHGmZmsipKvA1xjBCfkOW8LoL9E8ig5u7aL14mz+syAmLKzUaUzPq8TJYg/py0J4XAylO14Q7GMoKejOWpUYN9kuAQuhhXvmaM5RixgYrtBhOG2SLaREpYm5Kr/UY91cnj2VMaYBmroKid0anP84cdyKg="
    # BOB_EMAIL
    - secure: "C/wNt/PsAmeQmS/e7EAIiAiXjag2m8AeoldsT6YZWgA2BxY64jvepK5pU3HWM6ruhnSizTfJTjTcSqr9f5wyRVeXm9/1dv61NRcyhnHarwlJd5FFaw1LYBIxZb+v4zTtclw0egDu2RJkOr9pWY+THYEH40uop1x8mrAyybnmr7d3Rbx9evmeU/ypTsnU53jbNcRfnKsGIudB+1LPf8OMjhdUxYeVXFNZxqsNLO1W/ihGZboNThHh8R6TMdp3fRMTgN/Tjc++En/WsbbkF3DTFW7WJHLTrwrbMLpj2aYNP8yIeCu8PODVNiGBMIqbBsIvefjnXE954e/j/vrWLz1U1PmQUVkVSCgS7MA1hOZ6uiqcSWgeNWW9oLngmXiYfPS8GZCA7xV0+jho6bvHwOiHlTtPJ6aw3bAtAFLPfAJpRLzwU942Nsskw6Ly80A1JBQTmNZPAj/wMzaF+DxdpLDpsMoOEV0B0tZ6cmvhaV9JrhUo2Ek0AlYzgTmKtU3hI9iBnWWgk9VIfSFTJ515IJmecJFUNish5XFR3Je8rsj/SoU9zWpibvH3cSLXcpREvd9P60LQ85WLvG+rUKKo3N+65DPTfMgEPGqdjc+A5WRnvk/7r7UabvZZMnWvQ+8J+M7uv+OM3F8ObjyTNag64TOKUMa1Gjzk2/4W37GOMPLgR74="
    # BOB_PASSWORD
    - secure: "OG6mJLNiu32z2WqJaY9AY3u50cQzwpjKdWq+MtsAALkTRgEOrLjZguiRyyQWVAPQ11v090HEKCetWwb1r9yqk7ZMLQSUx0yUixJ/oxfdwoG10QtOcdgRcS91wXESgvBrmu6o5m9c578B2aG8P1d0w0i5XzcpH+3ZW1lzzU+VSQcqTk8RjzJETvFX4YA01/FbjMRBCaQcC61ofLCOf6k7zKcyRy830PPp6R8u8kNM1e3kCX8r9PvdoFMv8THVjoJf7zGH6deqAoynbyfMmYkXHGU/SOx70gWhJnYYfqL0w0Z5/T6zJtap4ScM5VhfBUX2DwQU3NVT7BA38wnfRcw+2JN/krhqbWeQ/Si5ZoriEXLXJG5d27uakNwemyZNwdMS9TYVVZITqwzJJhEBaZ2YY2iHJdTVUyrz8DBl5CS6KPCHcNjReQBoVN/05G9d5y/Z/eYcBi15CL71k6xyq1pKm0ekMEXTmpsN9C4ghiZhIbgU+EJUkHUPRSBxTY2Mwr5lyDZTMTPasAFvosgi35ETWxu0SIzyHwYYAydv2iBorm7S9VGucFgdLwz7PS0xZBg/jX/BALbM3oOQTK5oi6go3z85ewllVxhFI/7w7Tg9Yk2YdcPkDRbvhI5cwXjbJd5ZAr+xtz3gA3mf3LkpqnO5qxUdwt6nNFKXuDIyoMFUYmA="
    # NPM_TOKEN
    - secure: "oKoD5vM9EANq0vkFKmJciMUOuEOyHx3YvEPbwgBH3FFRkVAiUnjGEoeTgOdmc7yz+StdGnIK9tVpE1LGhH+h/OMTk3eKT91XAgOv6KyobBqHz+D4EZYhQL8hFm9d9S9HcKUFsrp9xeY2KlEG54Wy0LP0l+hrZxdqlF+Mox3ReP5ZnyEu9OY0J2YlbEH+Kpxu5jcQuapIefE6lSbgC7EWpa3qBcOW7NCTw1q3nc5nfIOYGSKZ/To71+/Fn4AQmZbeMo+r6bUsCS4w9nJ4gKpkRAgO91vNX6V3PPYqxakqgPyQO/5qCejgjDUt+w3H4j6Rg/LewfM59d8xuwg14d7m8RNRTNIHLDIpmujcuj+ZzARW9SeDrXgAnXaKzjp9WOL7vNAy3vdPc6SCqM0zW3tx2AZBSgYV6vmN8hLZmxMKukCUqlbWBd2PZYNPO3GnB50rAHeg3+RUjc8mSLyiB07DQU1lqsKfOjjVcUmeVWOTx2+FbGqOgdQVi00GY7alHx3b+4IuIVIcrHQjjuvOXA1J45rp9d/gyGJWSH00Z/KneuLSKyUSC29THy6Wk6Y6B01EUvv5riMyEDOhDMnGyehf5Xgz51yTpfKdoY0t+7zCVTd8xZNb/Ko/PlHfpkpY1OFDKi5Yc1vcTCNGqMCHC3eu9659+pg8B7ENCgsCJ7dBw5M="
    # WIRE_STATUS_BOT_EMAIL
    - secure: "P035+mhG/EgFcWTKLETEjGIAEHrBtG0gyYLC7F70d9jEwtOGLuDnAEuFkU8cvE/RaKW5M1dcGlxg+DYIhnm18OfDoOZJqKnw+lO1pfTicl/XwFlUihtvFVRxvD07zR1zgjkQRgoI8s2CLOYk7ShdrdC0HPxUCt4LZNTl7URBg8VsR5fiZDgILJzxOmI82DXDnMfXJd7D0EE+HNRto0VvvviKOTaV9xJgvv4YLYpJyFkhigKfB3pSmzWZlFzNfr1BKw2e4brSTkNFlGNJCYk7nghbDvq7To3qu6iWtChQ1MnTmsMIqMrwWVzqfrzX8xbXcVd0VET7SopD//LrXUPVc08IWUpGjAcDQuE0vQ4r8g0rS52gmsn06R8U/SYTDC73HwQmivdMRXXEYj772uFEHPX1K7XNhKKBTv2dBoksTEqsxAytraZWU2fcn9jlkGh006Q8S08cOEdc4LQb80vVgjNWcPNIS8VrR3/4n3/2sr+AJrji43HdsynUL3JmiAr5oc95rr4EhdWkkMQuLJ/PhGOTrrwokgwo2j5eyAJ6dc7Ool2yILGaIwrH+usZdztT+Vxk4VX6cOb2JUCtKlgv756F+hAT2mZhZMmznDCazBTNq6ISfxylb2QTxzyIJIsQ5STqfCHZOzaQMF57RxvhtmcwR0fBEboHNeF+j5kNfkA="
    # WIRE_STATUS_BOT_PASSWORD
    - secure: "BW4wDibxgFxSe7k4VJSeVNjvX4Ol5eTZNXtCn7+sLYmW/yxpnBW7O13fimy4AQ3aqMAZECTR+FivlW+Md3tjV7mXAmX8jm+C2G/ZDcx9yprwB4h1N4JOIDGXFXRa2cWlMHjreim/K3NORw6bSxKCqHNiKTUPYLA7vlQ2FikWEwr74m5uvH6FwkGKGxQG6L/DTXY4VgT1hnKw1HpmBtMsElae91YBtIAyn+oA49ftIYirRldJr+MHpLLls9PiBHykqygmv+8aSf7SmBWYT63Z6D++KGaZAHJGhPa6rlLN5vUqA2C6vBodcNjZbYx9TDERTEQrDPWt5peUCsNSRqRK7gmf1v8IdEYzEq4hVuu2ZqlJDfSbOlNrGeR83ai0c947Pv3pMEXGtU5UHJjoEv8RkX/Czu6GZItf9QqRPdm9GPZu0V6COHlNKQQ/ttPOPgSTvStL8sgrh0WRF20/IBkgbyhaKwbNzNTm1BA2saMErCo66WDs/zv0078FDGBmNiDTjl47O7MUbTZHeNIbRCZmQS2TDI35bL6uuK2yGIImuY0C79JLu6TwhwSocFN/4XsnMfUnbuL7WYMMr5DCm9ugD2TAZcrSUt891ohggj978nBGnB+rAiq009oImLoUa07/lJQPSygO3YIANQlD63QFh/Pf/Nnt/qdf9qCfUKjyiKU="

language: node_js

node_js:
  - "10"

addons:
  chrome: stable

# http://docs.travis-ci.com/user/build-lifecycle/
before_install:
  - curl https://yarnpkg.com/install.sh -sSfL | bash -s --
  - export PATH="${HOME}/.yarn/bin:${PATH}"

before_script:
  - yarn boot
  - export IS_MASTER_BRANCH=$(if [ "${TRAVIS_BRANCH}" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then echo 0; else echo 1; fi)
  - export HAS_UPDATES=$(npx lerna updated > /dev/null 2>&1; echo $?)
  - export IS_DEPENDENCY_BUMP=$(if [[ "${TRAVIS_COMMIT_MESSAGE}" = "build"* ]]; then echo 0; else echo 1; fi)
  - export WILL_RELEASE=$(if [ "${IS_MASTER_BRANCH}" == 0 ] && [ "${HAS_UPDATES}" == 0 ] && [ "${IS_DEPENDENCY_BUMP}" == 1 ]; then echo 0; else echo 1; fi)
  - echo -e "IS_MASTER_BRANCH = ${IS_MASTER_BRANCH}\nHAS_UPDATES = ${HAS_UPDATES}\nWILL_RELEASE = ${WILL_RELEASE}\nIS_DEPENDENCY_BUMP = ${IS_DEPENDENCY_BUMP}"

script:
  - yarn test

notifications:
  email: false

after_success:
  - |
    if [ "${WILL_RELEASE}" == 0 ]; then
      git config --global user.email webapp+travis@wire.com
      git config --global user.name "Wire Travis CI"
      mkdir -p temp
      openssl aes-256-cbc -K $encrypted_d95474b06f11_key -iv $encrypted_d95474b06f11_iv -in deploy.enc -out temp/deploy -d
      chmod 600 temp/deploy
      eval `ssh-agent -s`
      ssh-add temp/deploy
      rm -rf temp
      echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> "${HOME}/.npmrc" && \
      git checkout master;
      git pull;
      REPO=`git config remote.origin.url`
      SSH_REPO=${REPO/https:\/\/github.com\//git@github.com:}
      echo "${SSH_REPO}"
      git remote set-url origin ${SSH_REPO}
      yarn release;
      NODE_DEBUG=@wireapp:* node packages/core/src/demo/status-bot.js "4ae15efc-d061-4013-98f2-bcd81ab39b60";
    fi
