name: Label PR

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  label:
    name: Label PR based on title or changed files
    runs-on: ubuntu-latest
    steps:
      # The settings for this action are in `.github/labeler.yml`.
      # See https://github.com/srvaroa/labeler.
      - uses: srvaroa/labeler@v0.9
        env:
          GITHUB_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
